header {
  background: #000;
  height: 85px;
  font-weight: bold;
  z-index: 6;
}

.header {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  margin: 0;
  padding: 0;
}
.header__nav ul li {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
.header__nav ul li a {
  color: #fff;
}

.hamburger {
  position: absolute;
  display: none;
  right: 20px;
  width: 50px;
  height: 40px;
}
.hamburger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 10px;
  background: #fff;
  border-radius: 50px;
}
.hamburger span::before {
  content: "";
  position: absolute;
  top: -15px;
  display: block;
  width: 100%;
  height: 10px;
  background: #fff;
  border-radius: 50px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.hamburger span::after {
  content: "";
  position: absolute;
  top: 15px;
  display: block;
  width: 100%;
  height: 10px;
  background: #fff;
  border-radius: 50px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.hamburger_active span {
  background: rgba(0, 0, 0, 0);
}
.hamburger_active span::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 0;
}
.hamburger_active span::after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 0;
}

.welcome {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 610px;
  margin: 0 auto;
  margin-top: 155px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -11;
}
.welcome__top {
  height: 27px;
  width: 148px;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #d13f4a;
  border-radius: 5px 5px 0 0;
}
.welcome__title {
  width: 100%;
  margin: 0;
  height: 59px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111111;
}
.welcome__bottom {
  width: 415px;
  height: 40px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 5px 5px;
}

.main {
  background: #ffffff;
  width: 670px;
  padding: 10px;
  padding-bottom: 20px;
}
.main__header {
  height: 47px;
  background: #f3f3f3;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  color: #999999;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 3px solid #d13f4a;
}

.main__article {
  margin-bottom: 30px;
}
.main__article__image {
  display: block;
  min-height: 229px;
  max-height: 300px;
  overflow: hidden;
}
.main__article__wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 111px;
}
.main__article__aside {
  width: 76px;
  font-weight: 700;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__article__date, .main__article__views, .main__article__twitter, .main__article__facebook {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 4px;
  color: #fff;
  margin-bottom: 5px;
}
.main__article__date span, .main__article__views span, .main__article__twitter span, .main__article__facebook span {
  font-size: 10px;
  color: #fff;
}
.main__article__date:hover, .main__article__views:hover, .main__article__twitter:hover, .main__article__facebook:hover {
  text-decoration: none;
  color: #fff;
}
.main__article__date {
  position: relative;
  background: #d13f4a;
  text-transform: uppercase;
}
.main__article__date::after {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  position: absolute;
  right: -25px;
  background: #d13f4a;
}
.main__article__views {
  background: #469134;
}
.main__article__twitter {
  background: #24cedd;
}
.main__article__twitter:hover {
  opacity: .5;
}
.main__article__facebook {
  background: #2f81c0;
}
.main__article__facebook:hover {
  opacity: .5;
}
.main__article__more {
  height: 31px;
  width: 100%;
}
.main__article__more a {
  width: 100%;
  height: 100%;
  background: #d13f4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}
.main__article__info {
  width: 549px;
  padding-left: 23px;
}
.main__article__title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  color: #484848;
  margin-top: -5px;
}
.main__article__content {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  color: #484848;
  padding-right: 24px;
  text-align: justify;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-numbers {
  padding: 5px 10px;
  border-radius: 10px;
  background: #c2c2c2;
  color: #000;
}
.page-numbers:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}

span.page-numbers {
  font-weight: 800;
}
span.page-numbers:hover {
  color: #000;
  background: #c2c2c2;
}

.aside {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 11px;
}
.aside__title {
  background: #181818;
  height: 47px;
  padding-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 2px solid #d13f4a;
  font-size: 16px;
  font-weight: 700;
}
.aside__sponsors ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.aside__sponsors ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  height: 37px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.aside__sponsors ul li:nth-child(2n) {
  background: rgba(32, 33, 32, 0.5);
}
.aside__latest-video {
  margin-top: 0;
}
.aside__latest-video__preview {
  border: 1px solid #232627;
  margin-top: 12px;
  margin-bottom: 12px;
}
.aside__divisions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.aside__divisions ul li {
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}
.aside__divisions ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.aside__divisions ul li div h4 {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.aside__divisions ul li div span {
  font-size: 10px;
  font-weight: 700;
  color: #d13f4a;
  text-transform: uppercase;
}
.aside__we-recommend {
  margin-top: 11px;
}
.aside__we-recommend .aside__title {
  margin-bottom: 7px;
}
.aside__we-recommend__item {
  margin-bottom: 14px;
  width: 100%;
  border: 1px solid #2a2926;
  height: 105px;
  overflow: hidden;
}
.aside__we-recommend__item:last-child {
  margin-bottom: 10px;
}
.aside__we-recommend__item img {
  width: 100%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}
.aside__gallery .aside__title {
  margin-bottom: 10px;
}
.aside__gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside__gallery__items img {
  width: 85px;
  height: 85px;
  margin-bottom: 9px;
}
.aside__current-streams .aside__title {
  margin-bottom: 9px;
}
.aside__current-streams__preview {
  position: relative;
  border: 1px solid #252320;
  height: 80px;
  overflow: hidden;
}
.aside__current-streams__preview img {
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
.aside__current-streams__info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}
.aside__current-streams__info__who {
  color: #d13f4a;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.aside__current-streams__info__type {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}
.aside__current-streams__info__game {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.aside__from-twitter__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside__from-twitter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}
.aside__from-twitter__icon {
  margin-right: 13px;
}
.aside__from-twitter__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__from-twitter__msg, .aside__from-twitter__time, .aside__from-twitter__who {
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  color: #aaaaaa;
}
.aside__from-twitter__time, .aside__from-twitter__who {
  text-transform: uppercase;
}
.aside__from-twitter__who:hover {
  color: #ffffff;
}

body {
  font-family: 'Proxima Nova';
  font-weight: 400;
  background: url("../img/background/halo4.jpg") center center/cover no-repeat;
}

.container {
  max-width: 961px;
  margin: 0 auto;
}

.main-wrapper {
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 991px) {
  .container {
    padding: 0 10px 0 10px;
  }

  .header__nav ul {
    width: 490px;
  }
  .header__nav ul li {
    font-size: 15px;
  }

  .main-wrapper {
    margin: 0 auto;
    margin-top: 145px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main {
    width: 500px;
  }

  .aside {
    width: 290px;
  }
}
@media (max-width: 810px) {
  .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main {
    width: 670px;
  }

  .aside {
    width: 670px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .aside__sponsors {
    width: 40%;
  }
  .aside__latest-video {
    width: 58%;
  }
  .aside__divisions {
    width: 40%;
  }
  .aside__we-recommend {
    width: 58%;
    margin-top: 0;
  }
  .aside__gallery {
    width: 100%;
  }
  .aside__gallery img {
    margin-bottom: 10px;
  }
  .aside__current-streams {
    width: 40%;
  }
  .aside__from-twitter {
    width: 58%;
  }
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .header {
    position: relative;
  }
  .header__nav {
    z-index: -10;
    position: absolute;
    left: 0;
    top: -200%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    height: 250px;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header__nav ul li {
    position: relative;
    padding-left: 10px;
  }
  .header__nav ul li::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
    width: 5px;
    height: 5px;
    background: #d13f4a;
    border-radius: 50%;
  }
  .header__nav_active {
    top: 85px;
  }

  .welcome {
    width: 488px;
  }
  .welcome__top {
    font-size: 12px;
    width: 100px;
    height: 25px;
  }
  .welcome__title {
    font-size: 23px;
  }

  .main, .aside {
    width: 100%;
  }

  .main__article__date::after {
    right: -14px;
  }
  .main__article__aside {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .aside__latest-video__preview img {
    width: 100%;
  }
  .aside__sponsors ul li {
    font-size: 12px;
  }
  .aside__current-streams__info__who {
    font-size: 11px;
  }
  .aside__current-streams__info__game {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .welcome {
    width: 100%;
    margin-top: 100px;
  }
  .welcome__title {
    font-size: 20px;
    text-align: center;
  }
  .welcome__bottom {
    font-size: 14px;
    width: 90%;
    text-align: center;
    height: 45px;
  }

  .main__article__image img {
    -webkit-transform: translateX(-13%);
            transform: translateX(-13%);
  }

  .aside__title {
    font-size: 14px;
  }
  .aside__sponsors {
    width: 100%;
  }
  .aside__latest-video {
    width: 100%;
  }
  .aside__divisions {
    width: 100%;
  }
  .aside__divisions h4 {
    font-size: 13px !important;
  }
  .aside__we-recommend {
    width: 100%;
    margin-top: 10px;
  }
  .aside__we-recommend__item {
    height: auto;
  }
  .aside__we-recommend__item img {
    -webkit-transform: none;
            transform: none;
  }
  .aside__gallery__items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .aside__gallery img {
    display: block;
    margin-right: 5px;
  }
  .aside__divisions ul li div h4 {
    font-size: 10px;
  }
  .aside__current-streams {
    width: 100%;
  }
  .aside__current-streams__preview {
    height: 125px;
  }
  .aside__from-twitter {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */