.aside {
    background: rgba(0, 0, 0, 0.9); //#171817;
    width: 100%;
    padding: 11px;

    &__title {
        background: #181818;
        height: 47px;
        padding-left: 18px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #999999;
        box-sizing: border-box;
        border-right: 2px solid $red;
        font-size: 16px;
        font-weight: 700;
    }

    &__sponsors {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 12px;
                height: 37px;
                // background: #171716;
                color: #ffffff;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;

                &:nth-child(2n) {
                    background: rgba(32, 33, 32, 0.5); //#202120;
                }
            }
        }
    }

    &__latest-video {
        margin-top: 0;
        &__preview {
            border: 1px solid #232627;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    &__divisions {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                height: 37px;
                display: flex;
                justify-content: space-between;
                margin-top: 7px;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;

                    h4 {
                        font-size: 13px;
                        font-weight: 700;
                        color: #ffffff;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                    }

                    span {
                        font-size: 10px;
                        font-weight: 700;
                        color: $red;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    &__we-recommend {
        margin-top: 11px;

        .aside__title {
            margin-bottom: 7px;
        }

        &__item {
            margin-bottom: 14px;
            width: 100%;
            border: 1px solid #2a2926;

            height: 105px;
            overflow: hidden;

            &:last-child {
                margin-bottom: 10px;
            }

            img {
                width: 100%;
                transform: translateY(-20%);
            }
        }
    }

    &__gallery {
        .aside__title {
            margin-bottom: 10px;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            img {
                width: 85px;
                height: 85px;
                margin-bottom: 9px;
            }
        }
    }

    &__current-streams {
        .aside__title {
            margin-bottom: 9px;
        }

        &__preview {
            position: relative;
            border: 1px solid #252320;
            height: 80px;
            overflow: hidden;

            img {
                width: 100%;
                position: absolute;
                transform: translateY(-30%);
            }
        }

        &__info {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 19px;
            &__who {
                color: $red;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &__type {
                color: #ffffff;
                font-size: 10px;
                font-weight: 400;
                font-style: italic;
                text-transform: uppercase;
            }
            &__game{
                color: #ffffff;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    &__from-twitter{
        &__items{
            display: flex;
            flex-direction: column;
        }

        &__item{
            display: flex;
            justify-content: space-between;
            margin-top: 14px;
        }

        &__icon{
            margin-right: 13px;
        }

        &__info{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__msg, &__time, &__who{
            font-size: 10px;
            font-style: italic;
            font-weight: 300;
            color: #aaaaaa;
        }

        &__time, &__who{
            text-transform: uppercase;
        }

        &__who{
            &:hover{
                color: #ffffff;
            }
        }
    }
}
