.main {
    &__article {
        margin-bottom: 30px;
        &__image {
            display: block;
            min-height: 229px;
            max-height: 300px;
            overflow: hidden;
        }

        &__wrapper {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            min-height: 111px;
        }

        &__aside {
            width: 76px;
            font-weight: 700;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__date,
        &__views,
        &__twitter,
        &__facebook {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 4px;
            color: #fff;
            margin-bottom: 5px;
            span {
                font-size: 10px;
                color: #fff;
            }

            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }

        &__date {
            position: relative;
            background: $red;
            text-transform: uppercase;
            &::after{
                content: '';
                display: block;
                height: 100%;
                width: 2px;
                position: absolute;
                right: -25px;
                background: $red;

            }
        }

        &__views {
            background: #469134;
        }

        &__twitter {
            background: #24cedd;
            &:hover{
                opacity: .5;
            }
        }

        &__facebook {
            background: #2f81c0;
            &:hover{
                opacity: .5;
            }
        }

        &__more {
            height: 31px;
            width: 100%;
            a {
                width: 100%;
                height: 100%;
                background: $red;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-transform: uppercase;
                font-size: 10px;
            }
        }
        
        &__info {
            width: 549px;
            padding-left: 23px;
        }

        &__title{
            text-transform: uppercase;
            font-size: 21px;
            font-weight: 600;
            color: #484848;
            margin-top: -5px;
        }

        &__content{
            margin-top: 20px;
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            line-height: 22px;
            color: #484848;
            padding-right: 24px;
            text-align: justify;
        }
    }
}
