@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .container {
        padding: 0 10px 0 10px;
    }

    .header {
        &__nav {
            ul {
                width: 490px;
                li {
                    font-size: 15px;
                }
            }
        }
    }

    .main-wrapper{
        margin: 0 auto;
        margin-top: 145px;
        justify-content: center;
    }

    .main{
        width: 500px;
    }

    .aside{
        width: 290px;
    }
}

@media (max-width: 810px){
    .main-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .main{
        width: 670px;
    }

    .aside{
        width: 670px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        &__sponsors{
            width: 40%;
        }

        &__latest-video{
            width: 58%;
        }

        &__divisions{
            width: 40%;
        }

        &__we-recommend{
            width: 58%;
            margin-top: 0;
        }

        &__gallery{
            width: 100%;
            img{
                margin-bottom: 10px;
            }
        }

        &__current-streams{
            width: 40%;
        }

        &__from-twitter{
            width: 58%;
        }
    }
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
    }

    .header {
        position: relative;
        &__nav {
            z-index: -10;
            position: absolute;
            left: 0;
            top: -200%;
            justify-content: flex-start;
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            height: 250px;

            transition: top .5s;
            ul {
                flex-direction: column;
                width: 100%;
                li {
                    position: relative;
                    padding-left: 10px;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-90%);
                        width: 5px;
                        height: 5px;
                        background: $red;
                        border-radius: 50%;
                    }
                }
            }

            &_active {
                top: 85px;
            }
        }
    }

    .welcome{
        width: 488px;
        &__top{
            font-size: 12px;
            width: 100px;
            height: 25px;
        }

        &__title{
            font-size: 23px;
        }
    }

    .main, .aside{
        width: 100%;
    }

    .main{
        &__article{
            &__date{
                &::after{
                    right: -14px;
                }
            }

            &__aside{
                justify-content: flex-start;
            }
        }
    }

    .aside{
        &__latest-video{
            &__preview{
                img{
                    width: 100%;
                }
            }
        }

        &__sponsors{
            ul{
                li{
                    font-size: 12px;
                }
            }
        }

        &__current-streams{
            &__info{
                &__who{
                    font-size: 11px;
                }

                &__game{
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 575px) { 
    .welcome{
        width: 100%;
        margin-top: 100px;
        &__title{
            font-size: 20px;
            text-align: center;
        }

        &__bottom{
            font-size: 14px;
            width: 90%;
            text-align: center;
            height: 45px;
        }
    }

    .main{
        &__article{
            &__image{
                img{
                    transform: translateX(-13%);
                }
            }
        }
    }

    .aside{
        &__title{
            font-size: 14px;
        }

        &__sponsors{
            width: 100%;
        }

        &__latest-video{
            width: 100%;
        }

        &__divisions{
            width: 100%;
            h4{
                font-size: 13px!important;
            }
        }

        &__we-recommend{
            width: 100%;
            margin-top: 10px;

            &__item{
                height: auto;
                img{
                    transform: none;
                }
            }
        }

        &__gallery{
            &__items{
                justify-content: flex-end;
                
            }
            img{
                display: block;
                margin-right: 5px;
            }
        }

        &__divisions{
            ul{
                li{
                    div{
                        h4{
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        &__current-streams{
            width: 100%;

            &__preview{
                height: 125px;
            }
        }

        &__from-twitter{
            width: 100%;
        }
    }
}