@import "variables";

@import "header";
@import "hamburger";

@import "welcome";

@import "main";
@import "main-article";

@import "pagination";

@import "aside";

@import "footer";

body{
    font-family: 'Proxima Nova';
    font-weight: 400;
    background: url('../img/background/halo4.jpg') center (center/cover) no-repeat;
}

.container{
    max-width: 961px;
    margin: 0 auto;
}

.main-wrapper{
    margin-top: 145px;
    display: flex;
    width: 100%;
    
}


@import "media";