@import "header";
@import "hamburger";

body{
    font-family: 'Proxima Nova';
    font-weight: 400;
    height: 1200px;
    background: url('../img/background/halo4.jpg') center (center/cover) no-repeat;
}

.container{
    max-width: 961px;
    margin: 0 auto;
}


@import "media";